<add-to-cart-notification>
  <button
    id="add-to-cart"
    type="submit"
    name="add"
    class="w-full px-6 py-4 bg-gray-900 text-white hover:bg-gray-700 rounded-sm my-2"
    {% if selected_variant.available == false %}disabled{% endif %}
    data-te-toggle="modal"
    data-te-target="#addToCartModal"
    data-te-ripple-init
    data-te-ripple-color="light">

    {% if selected_variant.available == false %}
      Sold out
    {% else %}
      Add to cart
    {% endif %}
  </button>
</add-to-cart-notification>